nav,
.main-header-top,
.main-header-top .top-nav .settings-menu li a:hover,.coming-social a:hover,.h-active a,.faq-expi li i{
    color: #8B4DA5 !important;
}
.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.bootpag>.active>a,
.bootpag>.active>a:focus,
.bootpag>.active>a:hover,
.bootpag>.active>span,
.bootpag>.active>span:focus,
.bootpag>.active>span:hover,
.radio .helper::after,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--classic .select2-results__option--highlighted[aria-selected],
.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus, .datepicker table tr td.active:active:hover,
.ranges li.active,.ranges li:hover,
.footable .pagination>.active>a, .footable .pagination>.active>a:focus,
.footable .pagination>.active>a:hover, .footable .pagination>.active>span,
.footable .pagination>.active>span:focus, .footable .pagination>.active>span:hover,
.fc th
{
    background-color: #8B4DA5 !important;
    border-color: #8B4DA5 !important;
}
.color-picker a.handle,
.form-control:focus,
.rkmd-checkbox.checkbox-rotate,
.cr,
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover,
.slick-dots li button,.radio.radiofill .helper::after,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--classic.select2-container--open .select2-dropdown,
.select2-container--classic.select2-container--open .select2-selection--single,
.daterangepicker .input-mini.active,.media-list .cr,
.chat-footer, .chat-link,.new-msg:focus ~ .input-group-addon,.md-form-control,
.horizontal-fixed .main-sidebar .sidebar-menu li:hover ul.mega-menu,.panels-wells{
    border-color: #8B4DA5 !important;
}
#circle-loader2 {
    stroke: #8B4DA5;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    border-bottom-color: #8B4DA5;
}
.color-picker .section:last-child {
    border-bottom-color: rgb(139, 77, 165);
}
.color-picker .section {
    border-right-color: rgb(139, 77, 165);
}
.pricing-table:hover {
    border-top-color: #8B4DA5;
}

.filter-bar > .navbar{
    background-color: #fff !important;
}
.item:hover .blog-hover-detail,.wizard > .actions .disabled a,.cd-pricing-switcher .fieldset {
    background-color: rgba(139, 77, 165, 0.68);
    color: #fff;
}
.blog-single .qutoe-text,.fc-event {
    border-left-color: #8B4DA5 !important;
    color: #8B4DA5;
}

button.dt-button, div.dt-button, a.dt-button{
    background-image: linear-gradient(to bottom, #8B4DA5 0%,#8B4DA5 100%) !important;
    border-color: #8B4DA5 !important;
}
.checkbox-color input[type="checkbox"]:focus + label::before{
    outline: none;
}
.hour-hand,.minute-hand{
    stroke:#8B4DA5 ;
}
.dtp-select-hour[fill="#2196F3"],.dtp-select-minute[fill="#2196F3"] {
    fill:#8B4DA5  !important;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header{
    background-color: #8b4da5;
}
.invoice-box tr td a,a.dt-button:hover {
    color: #fff;
}
.signup-btn{
    background-color: #fff !important;
    border-color: #8B4DA5;
}
.bg-spark-chart{
    background-color:#2196F3 !important;
}
.bg-spark-chart{
    background-color:#3f51b5 !important;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
    }
    100% {
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
    }
    100% {
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
    }
    100% {
        box-shadow: 0 0 0 2px #9160a5, 0 0 10px 10px #8b4da5, 0 0 0 10px #9e49a5;
        transform: scale(1.5);
        opacity: 0;
    }
}
