@font-face {
	font-family: 'THBSF';
	src: url('../fonts/THBSF.eot');
	src: local('?'), url('../fonts/THBSF.woff') format('woff'), url('../fonts/THBSF.ttf') format('truetype'), url('../fonts/THBSF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1{
     font-family: 'THBSF', sans-serif;
	 font-size: 42px;
}
h2{
     font-family: 'THBSF', sans-serif;
	 font-size: 38px;
}
h3{
     font-family: 'THBSF', sans-serif;
	 font-size: 34px;
}
h4{
     font-family: 'THBSF', sans-serif;
	 font-size: 33px;
}
h5{
     font-family: 'THBSF', sans-serif;
	 font-size: 30px;
}
h6{
     font-family: 'THBSF', sans-serif;
	 font-size: 24px;
}